.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control-container {
  display: flex;
  margin-top: 16px;
}

.type-wrap {
  margin: 0 30px;
  font-size: 24px;
}

.control {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.15s linear;
}

.control:not(:last-child) {
  margin-right: 24px;
}

.fa-stop {
  color: hsl(10, 100%, 50%);
}
.fa-stop:hover {
  color: hsl(10, 100%, 40%);
}

.fa-play {
  color: hsl(120, 50%, 50%);
}
.fa-play:hover {
  color: hsl(120, 50%, 40%);
}

.fa-redo-alt:hover {
  color: #aaa
}